doctype html

html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Viewer

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
    link(rel="stylesheet" href="/static/css/index.css")

    script(defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
    script(defer src="/socket.io/socket.io.js" charset="utf-8")
    script(defer src="/static/js/danmaku.min.js" charset="utf-8")
    script(defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(defer src="/static/js/main.js")
  body
    section.hero
      .hero-body
        .container
          .columns
            .column
              #danmaku
              #admin-area.has-text-centered
                h2.subtitle#title= title
              iframe#video.is-fullheight(src=url frameborder="0")

          .columns
            .column.is-8
              .columns
                .column
                  nav.level
                    .level-left
                      .level-item.has-text-centered
                        div
                          p.heading 視聴者数
                          p.title#count
                      .level-item.has-text-centered
                        div
                          p.heading 総視聴者数
                          p.title#all-count
                      .level-item.has-text-centered
                        div
                          p.heading コメント数
                          p.title#comment-count

                    .level-right
                      p.level-item.has-text-centered
                        a(href="https://mti365.sharepoint.com/sites/2017/SitePages/Hacker%27s%20Hour%202018-02.aspx" target="_blank")
                          span.icon.is-small.is-left
                            i.fa.fa-external-link-alt
                          span イベント詳細
              .columns
                .column
                  form
                    .field.has-addons
                      .control.is-expanded
                        input#m.input(type="text" autocomplete="off" placeholder="comment")

                      .control
                        button.button.is-info Send

              .columns
                .column
                  .buttons
                    each emoji in emoji_list
                      button.button.is-rounded.is-medium.emoji= emoji
            .column
              span コメント
              ul#timeline
